@tailwind base;
@tailwind components;
@tailwind utilities;
* {
  scroll-behavior: smooth;
}
:root {
  --margin:8px;
  --bg: #f1f1ec;
  --fg: #22201d;
  --primary: #fc6234;
  --fadeprimary:#d43200;
  --secondary:#faca25;
  --breakpoint:1700px;

}
.color-grey {
  color:rgb(211, 211, 211)
}
.color-dark {
  color:var(--fg);
}
.color-light {
  color:var(--bg);
}
.font-title {
  font-size:5rem;

}
.font-large {
  font-size:2.5rem;
}
.font-medium {
  font-size:1.3rem;
}
.font-small {
  font-size:0.9rem;
}

.font-thin {
  font-weight:300
}
.font-heavy {
  font-weight:700
}
.heading {
  display: flex;
  justify-content: baseline;
  align-items: center;
  gap:40px;
}
.combine {
  display: flex;
  justify-content: center;
  align-items: center;
  gap:var(--margin);
}
.badge {
  background-color: #c5a1ff;
  border-radius:20px;;
  padding:var(--margin) 15px var(--margin) 15px;
}

.wrapper {
  gap:var(--margin);
  width:100%;
  height:fit-content;
  min-height:100vh;
  display: flex;
  justify-content: baseline;
  align-items: center;
  flex-direction: column;
  background-color: var(--bg)
}

.navbar-wrapper {
  
  width:100%;
  height:fit-content;
  min-height:80px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.navbar {
  padding:20px;
  width:var(--breakpoint);
  height:fit-content;
  min-height:80px;
  display: flex;
  justify-content: space-between;
  align-items: center;

}

.section-wrapper {
  width:100%;
  height:fit-content;
  display: flex;
  justify-content: center;
  align-items: center;
}
.section {
  padding:20px;
  width:var(--breakpoint);
  height:fit-content;
  display: flex;
  justify-content: baseline;
  align-items: baseline;
  flex-direction: column;
  gap:var(--margin);
}
.section-items {
  width:var(--breakpoint);
  height:fit-content;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap:var(--margin);
}
.section-item {
  display: flex;
  justify-content: center;
  align-items: center;
  gap:var(--margin);
  flex-direction: column;
  border-radius:var(--margin);
  height:400px;
  background-color: rgb(226, 226, 226);
}
@media all and (max-width:1800px) {
  :root {
    --breakpoint: 1200px;
  }
  

}


@media all and (max-width:1300px) {
  :root {
    --breakpoint: 700px;
  }
  .font-large {
    font-size:1.7rem;
  }
  .font-title {
    font-size:3rem;
  }
  .section-items {
    grid-template-columns: 1fr 1fr;
  }
  .section-item {
    height:300px;
  }
}


@media all and (max-width:800px) {
  :root {
    --breakpoint: 100%;
  }
  .section-items {
    grid-template-columns: 1fr;
  }
  .section-item {
    height:400px;
  }
}

