* {
  box-sizing:border-box;
  margin:0;
  padding:0;
  line-height: 150%;
}
:root {
  --breakpoint:1400px;
  --fg: #242424;
  --primary: rgb(227, 180, 110);
  --primary-mono: #fadfb6;
  --primary-active: rgb(222, 195, 154);
  --bg: #fff9f0;
  --whitesmoke:#fae9d2;
  --gap:20px;
  --border-radius: 40px;
  --margin: 8px;
  --page-gap:100px;
  --section-width: 80%;
}
.underline {
  text-decoration:underline;
  text-underline-offset: 2px;
  
}
.img-border {
  border-radius:var(--page-gap);
}
.img-border-square {
  border-radius:var(--margin);
}
.img-border-square-small {
  border-radius:4px;
}
.underline:visited {
  color:var(--primary)
}

.purple {
  background-color: rgb(194, 104, 224)
  
}
.orange {
  background-color: rgb(237, 133, 95)
}
.lime {
  background-color: rgb(143, 219, 102)
}


.badge {
  padding:var(--margin) var(--gap);
  border-radius:var(--border-radius);
}


.baseline-combine {
  width:100%;
  height:fit-content;
  display: flex;
  gap:var(--gap);
  justify-content: baseline;
  align-items: center;
}
.between-combine {
  height:fit-content;
  display: flex;
  gap:var(--gap);
  justify-content: space-between;
  align-items: center;
}

.vertical-combine {
  width:100%;
  height:fit-content;
  flex-direction: column;
  display: flex;
  justify-content: baseline;
  align-items: baseline;
  gap:var(--margin);
}

.loading {
  width:100%;
  background-color: var(--bg);
  height:100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

/* Hero */
.homepage-hero {
  width:100%;
  height:500px;
  background-color:var(--whitesmoke);
  border-radius:var(--border-radius);
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap:var(--gap);

}
.homepage-hero-content {
  width:50%;
  display: flex;
  justify-content: center;
  padding:calc(2 * var(--gap));
  align-items: baseline;
  flex-direction: column;
  gap:var(--gap);
}
.homepage-hero-image {
  width:50%;
  height:100%;
  background-position: center center;
  background-size:cover;
  background-color: #242424;
  border-radius:var(--border-radius);
}

/*Tech Stack*/
.tech-stack {
  height:fit-content;
  width:100%;
  display: flex;
  
  flex-wrap:wrap;
  justify-content: baseline;
  align-items: baseline;
  gap:var(--margin);
}

.tech-stack-item {
  display: flex;
  gap:var(--gap);
  justify-content: space-between;
  align-items: center;
  padding:calc(2 * var(--gap));
  width:fit-content;
  height:80px;
  min-width:100px;
  border-radius:200px;

}

.tech-stack-item h1 {
  font-weight:350
}
.tech-stack-img {
  height:35px;
  width:auto;
}
.tech-stack-font {
  font-size:1.3rem;
}

@media all and (max-width:700px) {
  .tech-stack-img {
    height:20px;
  }
  .tech-stack {
    gap:var(--margin);
  }
  .tech-stack-item {
    height:30px;
    min-width:0px;
    padding:var(--gap);
    gap:var(--margin);
  }
  .tech-stack-font {
    font-size:0.8rem;
  }
 
  
}

/*Contact*/
.contact {
  width:var(--section-width);
  height:fit-content;
  display: flex;
  justify-content: baseline;
  align-items: baseline;
  flex-direction: column;
  min-height:300px;
  gap:var(--page-gap);
}


/*Academia*/
.academia {
  width:var(--section-width);
  height:fit-content;
  display: flex;
  justify-content: baseline;
  align-items: baseline;
  flex-direction: column;
  gap:var(--margin);
}
.academia-item {
  width:100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap:var(--margin);
  height:250px;
}

.academia-item * {
  border-radius:var(--border-radius);
}
.academia-title {
  display: flex;
  justify-content: baseline;
  align-items: baseline;
  flex-direction: column;
}
.academia-title p {
  display: none;
}

.academia-start {
  text-align: left;

  width:100%;
  gap:var(--gap);
  background-color: var(--primary-active);
  height:100%;
  padding:calc(2 * var(--gap));
  display: flex;
  justify-content: center;
  align-items: baseline;
  flex-direction: column;
}
.academia-middle {
  width:1200px;
  text-align: center;

  height:100%;
  display: flex;
  justify-content: center;
  align-items: center;
  padding:var(--margin);
}
.academia-end {
  padding:var(--gap);
  display: flex;
  justify-content: center;
  align-items: baseline;
  flex-direction: column;
  width:100%;
  height:100%;
}

.academia-middle-short {
  text-align: center;

  width:1000px;
  height:100%;
  display: flex;
  justify-content: center;
  align-items: center;
  padding:var(--margin);
}

.academia-middle-shorter {
  text-align: center;

  width:800px;
  height:100%;
  display: flex;
  justify-content: center;
  align-items: center;
  padding:var(--margin);
}

.academia-middle-shortest {
  width:600px;
  text-align: center;

  height:100%;
  display: flex;
  justify-content: center;
  align-items: center;
  padding:var(--margin);
}

.line {
  width:100%;
  height:1px;
  background-color: var(--whitesmoke);
}


/*About Me*/
.about-me {
  width:var(--section-width);
  height:fit-content;
  display: flex;
  justify-content: baseline;
  align-items: baseline;
  flex-direction: column;
  min-height:300px;
  gap:var(--page-gap);
}

.inner {
  width:100%;
  height:fit-content;
}


.projects-gallery {
  width:var(--breakpoint);
  height:fit-content;
  gap:var(--margin);
  display: flex;
  justify-content: top;
  align-items: top;
  border-radius:var(--border-radius);
}
.projects-gallery-row {
  width:33.33%;
  height:fit-content;
  display: flex;
  justify-content: baseline;
  align-items: center;
  flex-direction: column;
  gap:var(--margin);
}
.projects-gallery-col {
  cursor: pointer;
  border-radius: var(--border-radius);
  display: flex;
  justify-content: space-between;
  align-items: baseline;
  flex-direction: column;
  
  min-height:300px;
  background-color: var(--whitesmoke);
  width:100%;
  transition: background-color 0.2s ease-in-out
  
}
.projects-gallery-col:hover {
  background-color: var(--primary-mono);
}

.projects-gallery-text {
  padding:calc(2 * var(--gap));
  width:100%;
  height:100%;
  display: flex;
  justify-content: baseline;
  align-items: baseline;
  flex-direction: column;
  gap:var(--gap);
}
.projects-gallery-image {
  border-radius: var(--border-radius);
  background-size:cover;
  background-position:center center;
  background-color: #242424;
  width:100%;
  aspect-ratio: 2/1.5;
  height:max-content;
}

/*Projects*/

.projects-select {
  width:var(--section-width);
  height:fit-content;
  gap:var(--margin);
  display: none;
  padding:var(--gap);
  justify-content: baseline;
  align-items: center;
  flex-direction: column;
  border-radius:var(--border-radius);
}
.projects-select-inner {
  width:100%;
  height:100%;
  padding:var(--gap);
  display: flex;
  flex-wrap: wrap;
  gap:var(--gap);
  justify-content: baseline;
  align-items: baseline;
}

/* .navbar-item-active {
  background-color: var(--primary-active);
} */

.projects-select-inner p {
  cursor:pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  padding:var(--margin) 10px;
  border-radius:var(--border-radius);
  flex-direction: column;
  transition:all 0.25s ease-in-out;
  
}
.projects-select-inner p:hover {
  background-color: var(--primary);
}

.projects-selected {
  background-color: var(--primary-active);
}



.projects-row {
  width:100%;
  height:fit-content;
  min-height:300px;
  display: flex;
  justify-content: space-between;
  align-items: top;
  gap:var(--margin);
}
.projects-col {
  width:33%;
  min-height:300px;
  border-radius: var(--border-radius);
  background-color: var(--whitesmoke);
  transition:background-color 0.25s ease-in-out;
}



.projects-text {
  display: flex;
  justify-content: baseline;
  align-items: baseline;
  flex-direction: column;
  gap:var(--margin);
  width:100%;
  height:100%;
  padding:calc(2 * var(--gap));

}


/*Featured Projects*/
.featured-projects {
  width:var(--section-width);
  height:fit-content;
  display: flex;
  justify-content: baseline;
  align-items: baseline;
  flex-direction: column;
  min-height:120px;
  gap:var(--page-gap);
}

.featured-projects-row {
  width:100%;
  height:fit-content;
  min-height:120px;
  display: flex;
  justify-content: space-between;
  align-items: top;
  gap:var(--margin);
  
}
.featured-projects-col {
  width:50%;
  min-height:120px;
  border-radius: var(--border-radius);
  background-color: var(--whitesmoke);
  cursor: pointer;
  transition:background-color 0.25s ease-in-out;
}
.featured-projects-col:hover {
  
  background-color: var(--primary-mono);
}

.featured-projects-image {
  width:100%;
  height:350px;
  background-position: center center;
  background-size:cover;
  background-repeat: no-repeat;
  background-color: #242424;
  border-radius:var(--border-radius);
}
.featured-projects-text {
  width:100%;
  gap:var(--margin);
  height:100%;
  padding:calc(2 * var(--gap));

}

/*UI*/
.button {
  cursor:pointer;
  padding:30px 50px 30px 50px;
  border-radius:100px;
  background-color: var(--bg);
  transition:all 0.1s ease-in-out;
}
.button:hover {
  opacity:0.9;
}

.page-wrapper {
  width:100%;
  background-color: var(--bg);
  height:fit-content;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.page {
  margin-bottom:var(--page-gap);
  width:var(--breakpoint);
  padding-left:var(--gap);
  padding-right:var(--gap);
  min-height:90vh;
  height:fit-content;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap:var(--page-gap);
}
.navbar-wrapper {
  width:100%;
  z-index:1000;
  height:fit-content;
  display: flex;
  justify-content: center;
  align-items: center;
}
.navbar {
  width:calc(var(--breakpoint) - var(--gap) * 2);
  min-height:60px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.navbar-items {
  position:fixed;
  bottom:calc(var(--gap) * 2);
  left:calc(50% - 300px);
  background-color: var(--primary-mono);
  border-radius:var(--border-radius);
  width:600px;
  display: flex;
  box-shadow:0px 0px 3px rgba(0, 0, 0, 0.083);
  justify-content: space-between;
  align-items: center;
  height:fit-content;
  padding:var(--margin);
}
.navbar-icon {
  display: none;
}
.navbar-item {
  cursor:pointer;
  width:140px;
  height:50px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius:var(--border-radius);
  flex-direction: column;
  transition: all 0.25s ease-in-out;

}
.navbar-item-active {
  background-color: var(--primary-active);
}
.navbar-item:hover {
  background-color: var(--primary);
}

.footer-wrapper {
  width:100%;
  height:fit-content;
  display: flex;
  justify-content: center;
  background-color: var(--fg);
  align-items: center;
}
.footer {
  padding:var(--gap);
  width:var(--breakpoint);
  height:120px;
  border-bottom:1px solid rgba(128, 128, 128, 0.139);
  margin-bottom:150px;
  display: flex;
  justify-content: space-between;
  align-items: center;

}

.color-whitesmoke {
  color:var(--whitesmoke);
}
.bg-whitesmoke {
  background-color:var(--whitesmoke);
}
.bg-grey {
  background-color:rgb(227, 227, 227);
}

.color-bg {
  color:var(--bg);
}
.color-fg {
  color:var(--fg);
}
.color-primary {
  color:var(--primary)
}
.color-primary-mono {
  color:var(--primary-mono)
}
.color-primary-active {
  color:var(--primary-active);
}
.font {
  font-family: var(--lex);
  font-weight:400;
}
.font-slim {
  font-weight:300;
}
.font-bold {
  font-weight:600;
}
.font-small {
  font-size:0.7rem;
}
.font-regular {
  font-size:1.1rem;
}
.font-nav {
  font-size:1.1rem;
}
.font-medium {
  font-size:1.8rem;
}
.font-large {
  font-size:4rem;
}

@media all and (max-width:1500px) {
  :root {
    --breakpoint: 1100px;
    --section-width:100%;

  }
  
  
}
@media all and (max-width:1200px) {
  :root {
    --breakpoint: 600px;
  }

  .projects-row {
    flex-direction: column;
    gap:var(--gap);
  }
  .projects-col {
    width:100%;
    height:fit-content;
    min-height:fit-content;
  }
  .featured-projects-row {
    flex-direction: column;
    gap:var(--gap);
  }
  .featured-projects-col {
    width:100%;
  }
.featured-projects-image {
  width:100%;
  height:auto;
  aspect-ratio: 3 /2;
  background-color: #242424;
  border-radius:var(--border-radius);
}
  .homepage-hero {
    flex-direction: column;
    height:fit-content;
  }
  .homepage-hero-content {
    width:100%;
  }
  .homepage-hero-image {
    width:100%;
    height:400px;
  }
  .projects-gallery {
    flex-direction: column;
    gap:var(--page-gap);
  }
.projects-gallery-row {
  width:100%;
  
}
.projects-gallery-col {
  border-radius: var(--border-radius);
  display: flex;
  justify-content: space-between;
  align-items: baseline;
  flex-direction: column;
  
  min-height:300px;
  background-color: var(--whitesmoke);
  width:100%;
  
}


  
  .font-small {
    font-size:0.7rem;
  }
  .font-regular {
    font-size:1rem;
  }
  .font-medium {
    font-size:1.4rem;
  }
  .font-large {
    font-size:2.2rem;
  }
  .projects-select-inner {
    padding:0;
  }
  .projects-select {
    padding:0;
    gap:var(--margin);
  }
  .academia-middle {
    display: none;
  }
  
  .academia-middle-short {
    display: none;
  }
  .academia-middle-shorter {
    display: none;
  }
  .academia-middle-shortest {
    display: none;
  }
  
  .academia-title p {
    display: flex;
  }
  .academia-item {
    background-color: var(--whitesmoke);
    border-radius: var(--border-radius);
    height:fit-content

  }
  .academia-start {
    height:fit-content
  }
  
}
@media all and (max-width:700px) {
  :root {
    --breakpoint:100%;
  }
  
  .font-nav {
    font-size:0.5rem;
  }
  
  .navbar-icon {
    display: block;
  }
  
  .navbar-items {
    
    bottom:var(--gap);
    left:var(--gap);
    gap:var(--margin);
    width:calc(100% - 2 * var(--gap));
  }
  .footer {
    margin-bottom:120px;
    height:120px;
  }
 
  .footer .between-combine:first-child p:last-child {
    display: none;
  }

  .navbar-item {
    gap:var(--margin);
    height:60px;
    width:100%;

  }
}